.bar-side-menu {
    background-color: #E74C3C;
  }
  
  .bar-content {
    background-color: #E74C3C;
  }
  
  .button.button-positive {
    border-color: #E74C3C;
    background-color: #E74C3C;
     color: #fff;
  } 
  
  .item-divider {
    background-color: #fafafa;
  }